.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h1{
  font-size: 40px;
  color: #09f;
  margin: 10px;
  padding: 0px;
  text-align: left;
}

.App-content {
  background-color: #181a1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid black;
  
}

#links{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  border-top: 1px solid #09f;

}

a {
  color: #09f;
  font-size: 20px;
  padding: 15px;
  text-decoration: none;
  
}



